.navbar {
    font-family: 'Geo', sans-serif;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    height: 3rem;
}

.navbar div {
    margin-right: 5rem;
}

a:link,
a:visited {
    text-decoration: none;
    color: #000000;
    transition: all 0.3s;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.3rem;
    color: #00d2d2;
    font-size: 3rem;
}