.container {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Geo', sans-serif;
    justify-content: center;
}

.work-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem 0rem 2rem;
}

.image-container {
    max-width: 60rem;
}

.work-image {
    width: 100%;
    border-radius: 7px;
    box-shadow: 3px 3px 10px 3px rgba(151, 151, 151, 0.1);
    filter:saturate(0.8);
}

.work-name {
    font-size: 2.5rem;
    margin: 1rem 1rem
}

.work-skills {
    font-size: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}