@import url('https://fonts.googleapis.com/css2?family=Geo&family=Press+Start+2P&family=VT323&display=swap');

:root {
	--color-bg: #f1efe8; 
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%; /* 1rem=10px */
}

body {
	background-color: var(--color-bg);
}

.container {
	max-width:130rem; /* so the container can decrease */
	margin: 0 auto; /* center */
}